# Byte-compiled / optimised files (Python cache)
__pycache__/

# Mac being silly
.DS_Store

# Virtual environment folders
.venv/
.env
.prosperity3env/

# Backtest files and submission files
backtests/
submissions/